# DS Automation Assignment

Using our prepared churn data from week 2:
- use pycaret to find an ML algorithm that performs best on the data
    - Choose a metric you think is best to use for finding the best model; by default, it is accuracy but it could be AUC, precision, recall, etc. The week 3 FTE has some information on these different metrics.
- save the model to disk
- create a Python script/file/module with a function that takes a pandas dataframe as an input and returns the probability of churn for each row in the dataframe
    - your Python file/function should print out the predictions for new data (new_churn_data.csv)
    - the true values for the new data are [1, 0, 0, 1, 0] if you're interested
- test your Python module and function with the new data, new_churn_data.csv
- write a short summary of the process and results at the end of this notebook
- upload this Jupyter Notebook and Python file to a Github repository, and turn in a link to the repository in the week 5 assignment dropbox

*Optional* challenges:
- return the probability of churn for each new prediction, and the percentile where that prediction is in the distribution of probability predictions from the training dataset (e.g. a high probability of churn like 0.78 might be at the 90th percentile)
- use other autoML packages, such as TPOT, H2O, MLBox, etc, and compare performance and features with pycaret
- create a class in your Python module to hold the functions that you created
- accept user input to specify a file using a tool such as Python's `input()` function, the `click` package for command-line arguments, or a GUI
- Use the unmodified churn data (new_unmodified_churn_data.csv) in your Python script. This will require adding the same preprocessing steps from week 2 since this data is like the original unmodified dataset from week 1.

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline
import phik
import seaborn as sns
import numpy as np

In [2]:
from pycaret.classification import setup, tune_model, compare_models, predict_model, save_model, load_model

In [3]:
df = pd.read_csv('prepped_churn_data.csv', index_col='customerID')
df

,tenure,PhoneService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,
7590-VHVEG,1,0,0,2,29.85,29.85,0
5575-GNVDE,34,1,1,1,56.95,1889.50,0
3668-QPYBK,2,1,0,1,53.85,108.15,1
7795-CFOCW,45,0,1,3,42.30,1840.75,0
9237-HQITU,2,1,0,2,70.70,151.65,1
...,...,...,...,...,...,...,...
6840-RESVB,24,1,1,1,84.80,1990.50,0
2234-XADUH,72,1,1,0,103.20,7362.90,0
4801-JZAZL,11,0,0,2,29.60,346.45,0
8361-LTMKD,4,1,0,1,74.40,306.60,1
3186-AJIEK,66,1,0,3,105.65,6844.50,0

In [4]:
automl = setup(df, target='Churn', numeric_features=['PhoneService','PaymentMethod', 'Contract'], session_id=42)

In [5]:
automl[6]

10

In [6]:
best_model = compare_models(sort='AUC')

In [7]:
best_model

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=42, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [8]:
tuned_best_model = tune_model(best_model)

In [9]:
df.iloc[-2:-1]

,tenure,PhoneService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
customerID,,,,,,,
8361-LTMKD,4,1,0,1,74.4,306.6,1

In [10]:
predict_model(tuned_best_model, df.iloc[-2:-1])

,tenure,PhoneService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Label,Score
customerID,,,,,,,,,
8361-LTMKD,4,1,0,1,74.4,306.6,1,1,0.5475

In [11]:
save_model(tuned_best_model, 'gbc')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['PhoneService',
                                                           'PaymentMethod',
                                                           'Contract'],
                                       target='Churn', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None...
                                             loss='deviance', max_depth=1,
                                             max_features=1.0,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.4,
                                             min_impurity_split=None,
                                             min_samples_leaf=2,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=270,
                                             n_iter_no_change=None,
                                             presort='deprecated',
                                             random_state=42, subsample=0.8,
                                             tol=0.0001, validation_fraction=0.1,
                                             verbose=0, warm_start=False)]],
          verbose=False),
 'gbc.pkl')

In [12]:
import pickle

with open('gbc_model.pk', 'wb') as f:
    pickle.dump(best_model, f)

In [13]:
with open('gbc_model.pk', 'rb') as f:
    loaded_model = pickle.load(f)

In [14]:
new_data = df.iloc[-2:-1].copy()
new_data.drop('Churn', axis=1, inplace=True)
loaded_model.predict(new_data)

array([1])

In [15]:
loaded_gbc = load_model('gbc')

Transformation Pipeline and Model Successfully Loaded

In [16]:
predict_model(loaded_gbc, new_data)

,tenure,PhoneService,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Label,Score
customerID,,,,,,,,
8361-LTMKD,4,1,0,1,74.4,306.6,1,0.5475

In [17]:
from IPython.display import Code
Code('predict_churn.py')

import pandas as pd
from pycaret.classification import predict_model, load_model
class PredictChurn:

    def load_data(filepath):
        """
        Loads churn data into a DataFrame from a string filepath.
        """
        df = pd.read_csv(filepath, index_col='customerID')
        return df

    def make_predictions(df):
        """
        Uses the pycaret best model to make predictions on data in the df dataframe.
        """
        model = load_model('gbc')
        predictions = predict_model(model, data=df)
        predictions.rename({'Label': 'of Churn', 'Score': 'Probability'}, axis=1, inplace=True)
        predictions['of Churn'].replace({1: 'Churn', 0: 'No Churn'},
                                                inplace=True)
        return predictions[{'of Churn', 'Probability'}]

    if __name__ == "__main__":
        df = load_data('new_churn_data.csv')
        predictions = make_predictions(df)
        print(predictions)

In [18]:
%run predict_churn.py
print

Transformation Pipeline and Model Successfully Loaded
            of Churn  Probability
customerID
9305-CKSKC     Churn       0.5985
1452-KNGVK  No Churn       0.5580
6723-OKKJM  No Churn       0.9491
7832-POPKP  No Churn       0.7240
6348-TACGU  No Churn       0.7272

# Summary

I began by loading the prepped data from week 2. I had to change the way I prepped the data because pycaret had too many n_features. I'm seeing how I can use sklearn param and predict proba features to enhance my ml algorithm. I didn't get a chance to test the more advanced autoML libraries like H20 and TPOT. I also didn't understand why the new_data was converting the contracts numerically so that only one-year contracts produced a 1. I would've liked to see the diffences in the predictions with month-to-month and two year contracts being quantified individually. Overall I optimized the best_model by sorting the data by "AUC" rather than Accuracy. I think the area under the curve better models the true predictions and minimizes false positives better when greater than the Accuracy. I tuned the hyperparameters using PyCaret and the accuracy improved to nearly 80%. This accuracy is much better than the randomforestclassifications from last week, though less intuitive when setting hyperparameters. I look forward to practicing with these libraries more in the future. I will play with GUI and python packaging as this will help me run the reports I am automating at work.